span {
  font-size: 40%;
}

p {
  font-size: 80%;
}

.infoContainer {
  width: 90%;
  position: relative;
  left: 5%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}